body {
	background-color: rgb(245,255,149);
}

#banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#nav-table {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.par {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.heading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#racingbit {
	display: block;
	text-align: center;
}

#dancingbit {
	display: block;
	text-align: center;
}

#bitmoji {
	display: block;
	text-align: center;
}
